<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <form action="" class="signup-form" onsubmit="return false">
        <h2 class="title">User Login</h2>
        <input type="email" placeholder="Email" name="email" id="email">
        <small id="emailErr" class="error"></small>
        <input type="password" placeholder="Password" name="password" id="password">
        <small id="passwordErr" class="error"></small>
        <div>
            <button type="submit" class="btn" onclick="return validateLogin()">Submit</button>
            <p class="dont">Dont have an account?<a href="/register">Signup</a></p>
        </div>
    </form>
    <script src="/validations/signupValidation.js"></script>
</body>
</html>